<% include ./partials/head %>

<% include ./partials/header %>

<script type='text/javascript' src='js/jscolor.js'></script>

<form class='ui form' action='/set-color' method='post' id='color-form'>
  <input type='text' class='jscolor two wide field' name='color' value='<%= settings.lightColor %>'>

  <input type='checkbox' name='options[setAsDefault]' id='set-as-default' hidden>
  <input type='checkbox' name='options[changeToDefault]' id='change-to-default' hidden>
  <input type='checkbox' name='options[turnOff]' id='turn-off' hidden>

  <div class='ui submit button' id='change-color' onclick='submitSettings()'>Change Color</div>
  <div class='ui submit button' id='set-default-button' onclick='submitSettings(true,false,false)'>Set As Default</div>
  <div class='ui submit button' onclick='submitSettings(false,true,false)'>Change To Default</div>
  <div class='ui submit button' id='off-button' onclick='submitSettings(false,false,true)'>Turn Off</div>
</form>

<br>

<h3 class='ui header centered'>Configuration</h3>

<form class='ui form' action='/set-config' method='post' id='config-form'>
	<div class='inline fields'>
		<div class='field' id='set-hot'>
			<label>Hot (&degC)</label>
			<input type='text' name='config[hot]' value='<%= settings.hot %>'>
		</div>
		<div class='field' id='set-cold'>
			<label>Cold (&degC)</label>
			<input type='text' name='config[cold]' value='<%= settings.cold %>'>
		</div>
		<div class='field' id='set-humid'>
			<label>Humid (%)</label>
			<input type='text' name='config[humid]' value='<%= settings.humid %>'>
		</div>
		<div class='field' id='set-dry'>
			<label>Dry (%)</label>
			<input type='text' name='config[dry]' value='<%= settings.dry %>'>
		</div>
		<div class='field' id='set-dark'>
			<label>Dark</label>
			<input type='text' name='config[dark]' value='<%= settings.dark %>'>
		</div>
		<div class='field' id='submit-button'>
			<div class='ui submit button' onclick='configure()'>Submit
			</div>
		</div>
		
	</div>
</form>

<script type='text/javascript' src='js/home.js'></script>
<% include ./partials/foot %>
